@font-face {
    font-family: Satoshi-Regular;
    src: url(/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf);
}

@font-face {
    font-family: Satoshi-Black ;
    src: url(/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Black.otf);
}/*asi se añaden fuentes */

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Satoshi-Black;
}

#Banner{
    display: flex;
    justify-content: center;
    background-color: #111111;
}

body{
    background:#111111;
}

.navbar{
    display: flex;
    justify-content: center;
    background: linear-gradient(
        #1f1f1f,
        #111111
    );
}

.navbar a{
    padding-top: 12px;
    padding-left: 5%;
    padding-right: 5%;

    text-decoration: none;
    color: rgb(196, 198, 199);
    font-size: 18px;
}

#AboutUs-Title h2{
    color: #dadada;
    margin-right: 20px;
    font-size: 50px;
}

#AboutUs-Title{
    display: flex;
    align-items: center;
    justify-content: center;
}

#AboutUs{
    background-color: #1f1f1f;
    border-radius: 5px;
    width: 48%;
}

#AboutUs p{
    color: #dadada;
    padding: 2%;
}