@font-face {
    font-family: Satoshi-Regular;
    src: url(/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf);
}

@font-face {
    font-family: Satoshi-Black ;
    src: url(/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Black.otf);
}/*asi se añaden fuentes */

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Satoshi-Black;
}

#Banner{
    display: flex;
    justify-content: center;
    background-color: #111111;
}

body{
    background:#111111;
}

.Proyects-line{
    padding-top: 25px;
    margin: 20px auto 20px;
    overflow: auto;
    display: flex;
    justify-content: center;    
}

.ProyectBox{
    float: left;
}

.ProyectBox img:hover
{
    transform: scale(1.05);
    opacity: 0.7;
}
.ProyectBox img {
    transition: 0.15s ease-out;
    width: 84%;
    border-radius: 15px;
}

.ProyectBox p {
    color: #dadada;
}

.navbar{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        #2e2e2e,
        #111111
    );
}

.navbar a:hover{
    transform: scale(1.05);
    border-bottom: 2px solid rgba(255, 255, 255, 0.856);
    color: rgb(249, 252, 255);
}
.navbar a{    
    transition: 0.15s ease-out;
    padding-top: 12px;
    margin-left: 3%;
    margin-right: 5%;
    text-decoration: none;
    color: rgb(196, 198, 199);
    font-size: 18px;
}

#AboutUs-Title p{
    color: #dadada;
    font-family: Satoshi-Regular;
}

#AboutUs-Title{
    display: flex;
    align-items: center;
    justify-content: center;
}