* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

#Banner{
    display: flex;
    justify-content: center;
    background-color: #111111;
}

.navbar{
    display: flex;
    justify-content: center;
}